html {
  height: 100%;
  width: 100%;
  background-color: #F9F5C8;
}

.home {
  display: flex;
  width: 20%;
  float: left;
}

.parmums {
  display: flex;
  width: 20%;
  float: left;
}

.galerija {
  display: flex;
  width: 20%;
  float: left;
}

.piedavajumi {
  display: flex;
  width: 20%;
  float: left;
}

.kontakti {
  display: flex;
  width: 20%;
  float: left;
}

#banBG {
  transform: rotate(-56deg);
  /*  position: absolute;
  z-index: -1;  */
} 

table {
  position: relative;
  z-index: 1;
}

th, td {
  border: 1px solid #f9f5c8;
  border-width: 34px;
  padding: 10px;
  border-radius: 11px;
  height: 402px;
  background-color: #EEC045;
}

table, th, td{
  opacity: 80%;
}
.leftoverTable{
  background-color: #f9f5c8;
}

/*  #navbar {
  display: flex;
justify-content: flex-end;
} */

header{
  background-color: #F8ED6F;
  padding: 10px;
  text-align: right;
}

#logo{
  justify-content: flex-end;
}

h1{
  font-size: 80px;
}

#sakums{
  justify-content: flex-start;
}


