html {
  height: 100%;
  width: 100%;
  background-color: #F9F5C8;
}

.home {
  display: flex;
  width: 20%;
  float: left;
}

.parmums {
  display: flex;
  width: 20%;
  float: left;
}

.galerija {
  display: flex;
  width: 20%;
  float: left;
}

.piedavajumi {
  display: flex;
  width: 20%;
  float: left;
}

.kontakti {
  display: flex;
  width: 20%;
  float: left;
}

#banBG {
  transform: rotate(56deg);
  opacity: 0.5;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}